* {
  margin: 0px;
  padding: 0px;
  font-family: Merriweather;
}
/* header css items */

.header {
  width: 100%;
  height: auto;
}

.image-container {
  width: 1320px;
  display: block;
  margin: 10px auto;
  position: relative;
}
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  border-radius: 16px;

  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 0px;
}

.image-greetings {
  color: #fff;
  text-align: center;

  font-size: 32px;

  font-weight: 400;
  padding: 20px;
}
.image-text {
  color: #fff;
  text-align: center;

  font-size: 72px;

  font-weight: 900;
}

/* 2nd section css item  */

.off-catagory {
  background-color: #fff;
  width: auto;
  height: 400px;
  padding-top: 100px;
}
.off-option h1 {
  color: #f00;
  text-align: center;

  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.off-option h4 {
  color: #f00;
  text-align: center;

  font-size: 24px;

  font-weight: 400;
  margin-top: 20px;
}

.off-option h2 {
  color: #070211;
  text-align: center;

  font-size: 48px;

  font-weight: 700;
}
.hny-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-left: 450px;
}
/* section welcome css item */

.welcome {
  background-color: #fff;
  width: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-text h1 {
  color: #fff;

  font-size: 64px;

  font-weight: 900;

  letter-spacing: 7.04px;
}
