* {
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather', serif;
}
/* header css items */
.header {
  width: 100%;
  height: auto;
}

.image-container {
  width: 1320px;
  display: block;
  margin: 10px auto;
  position: relative;
}
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  border-radius: 16px;

  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 0px;
}

.image-greetings {
  color: #fff;
  text-align: center;

  font-size: 32px;

  font-weight: 400;
  padding: 20px;
}
.image-text {
  color: #fff;
  text-align: center;

  font-size: 72px;

  font-weight: 900;
}

/* 2nd section css item  */

.off-catagory {
  background-color: #fff;
  height: auto;
  width: 1320px;
  display: block;
  margin: 10px auto;
  position: relative;
  
}
.off-option h1 {
  color: #f00;
  text-align: center;

  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.off-option h4 {
  color: #f00;
  text-align: center;

  font-size: 24px;

  font-weight: 400;
  margin-top: 20px;
}

.off-option h2 {
  color: #070211;
  text-align: center;

  font-size: 48px;

  font-weight: 700;
}
.off-option img{
  width: 800px;
  height: 500px;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

/* section welcome css item */

.welcome{
  width: 1320px;
  height: 600px;
  display: block;
  margin: 10px auto;
  display: block;
  align-items: center;
  justify-content: space-between;
  background-image: url('../img/Vectorrr.png');
  
 

}
.welcome-text h1{
  color: #FFF;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;

}
.welcome-text p{
  color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.btn-join{
  display: inline-block;
    padding: 10px 20px;
    background-color: #FFF; 
    color: black; 
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;

}

/* address place item css  */


.address-item{

  width: 1320px;
  height: 400px;
  display: block;
  margin: 10px auto;
  display: block;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(120deg, rgba(255, 0, 0, 0.10) 60%, rgba(255, 0, 0, 0.00) 80%);
  
}
.address-text{
  text-align: center;
  color: black;
  display: block;
  align-items: center;
  padding-top: 200px;
}
/* coming soon items css */


.coming-soon{
  width: 1320px;
  height: 400px;
  background-color: #f00;
  display: block;
  margin: 10px auto;
  display: block;
  align-items: center;
  border-radius: 16px;
  padding-top: 200px;

}
.coming-soon-text{
  text-align: left;
  align-items: center;
  display: block;
}

/* added section  */
#hero {
  width: 100%;
  height: 60vh;
  position: relative;
  background: url("../img/Vectorrr.png") no-repeat;
  background-size: cover;
  padding: 0;
}

#hero .hero-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

